body {
	background: rgb(249, 245, 239);
}

button.btn {
	transition: all 0.4s ease-in-out 0s;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	line-height: 1.6;
}

.aside .aside-dialog .aside-header .close {
	padding: 8px 8px;
}

.displaynone {
	display: none!important;
}

.fade-leave {
	animation: bouncein .6s linear 0s 1 alternate;
	display: none;
}

.fade-enter {
	animation: bounceinT 1.2s linear 0s 1 alternate;
	opacity: 1;
}

.alert {
	z-index: 65535;
	height: auto;
}

.alert p {
	font-size: 14px!important;
	line-height: 24px;
}

.alert span.glyphicon {
	font-size: 32px;
	float: left;
	margin-right: 15px;
}

ul {
	list-style: none;
}

.nav li {
	font-size: 14px!important;
	font-weight: 200!important;
}

.nav {
	margin: 0px!important;
}

.navbar {
	min-height: 70px;
}

.navbar-default {
	background-color: rgb(255, 255, 255);
	border: none;
	border-radius: 0px!important;
}

div.container-fluid {
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-default .navbar-nav>li>a {
	color: rgb(0, 149, 219)!important;
}

.navbar-default .navbar-brand {
	color: rgb(0, 149, 219);
	font-weight: 200;
	float: none;
	font-size: 24px;
}

.navbar-default .navbar-brand:hover {
	color: rgb(0, 149, 219)!important;
}

.container-fluid {
	border-radius: 0px!important;
}

.navbar-default .navbar-toggle {
	border: none!important;
	margin-top: 10px;
}

.navbar-header {
	height: 70px;
	line-height: 5.5;
	top: 0;
	left: 0;
	width: 100%;
	position: absolute;
	clear: both;
	text-align: center;
}

button.navbar-toggle.collapsed {
	display: none;
}

.container-fluid>.navbar-header {
	margin-left: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: rgb(255, 255, 255);
	height: 2px;
	width: 20px;
}

.navbar-default .navbar-toggle:hover {
	background: rgb(35, 119, 186);
}

.navbar-default .navbar-nav>.active>a {
	background: rgb(0, 133, 242)!important;
	color: rgb(255, 255, 255)!important;
	font-weight: 800;
}

.navbar-default .navbar-nav>li>a:hover {
	color: rgb(0, 149, 219)!important;
	cursor: pointer!important;
	font-weight: 400;
}

.navbar-default .navbar-nav>.active>a:hover {
	color: rgb(255, 255, 255)!important;
	cursor: pointer;
}

.navbar>.container-fluid .navbar-brand:hover {
	color: rgb(255, 255, 255);
}

.search-area {
	padding-top: 15px;
	padding-bottom: 15px;
}

.input-group .form-control:first-child {
	box-shadow: none;
}

.tag-list {
	margin-top: 10px;
}

.tag-list span {
	cursor: pointer;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.expand-transition {
  	transition: all .3s ease;
  	overflow: hidden;
}

.expand-enter, .expand-leave {
  	height: 0;
  	/*padding: 0px 10px;*/
  	opacity: 0;
}

.carousel-control.right {
	background-image: none;
}

.carousel-control.left {
	background-image: none;
}

.carousel-inner>.item>img {
	border-radius: 4px;
	width: 100%;
	height: 250px;
}

.carousel-inner>.item {
	border-radius: 4px;
}

.carousel-inner>.item.active{
	border-radius: 4px;
}

.carousel-inner {
	border-radius: 4px;
}

.carousel {
	border-radius: 4px;
}

.shadow-page {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	/*z-index: 3000;*/
	background: rgba(108, 113, 126, 0.8);
}

.box-center {
	display: flex;
	align-items: center;
	justify-content:center;
	height: 80vh;
}

.flex-item {
	align-items: center;
	width: 33.333333%;
}

@media screen and (max-width: 960px) {
	.flex-item {
		width: 88.333333%;
	}
}

.btn.outline {
	border: 1px solid rgb(38, 165, 224);
	color: rgb(72, 179, 229);
	padding-left: 20px;
	padding-right: 20px;
}

.btn.outline span {
	font-size: 14px;
	font-weight: 200!important;
}

.nav-search {
	background: rgb(255, 255, 255)!important;
	position: absolute;
	max-height: 360px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	-webkit-box-shadow: 0 0 15px rgba(99, 75, 37, 0.1);
	box-shadow: 0 0 15px rgba(99, 75, 37, 0.1);
	z-index: 65535;
	opacity: 0;
	visibility:hidden;
}

.nav-search-display {
	opacity: 1;
	visibility: visible;
}

.nav-search-hide {
	opacity: 0;
	visibility: hidden;
}

.nav-search ul {
	margin-left: -40px;
	margin-bottom: 0px;
}

.nav-search ul li{
	padding: 5px 20px 5px 14px;
	display: block;
	color: #2e97d8;
	cursor: pointer;
	transition: all 0.5s ease;
}

.nav-search ul li:hover {
	color: #fff;
	background-color: #2e97d8;
	text-decoration: none
}

.timeline-real-footer ul li span {
	top: 4px;
}

.timeline-tags span {
	margin-right: 10px;
}

.form-control:hover {
	box-shadow: none;
}

.form-control:focus {
	box-shadow: none;
}

.tags-selector .form-control {
	border-left: 0px;
	border-right: 0px;
}

.tags-tips {
	
}

.new-cg-tag ul li{
	line-height: 20px;
}

.tag-visual {
	background: rgb(238, 246, 250);
	border-radius: 30px;
	line-height: 30px;
	color: #259;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
}

.tag-visual{
	margin-left: 10px;
}

.tag-visual span {
	font-size: 1em!important;
}

#relations-container {
	height: 100vh;
}

.bg {
	background: rgb(249, 245, 239);
	height: 100%;
}

.displaynone {
	display: none!important;
}

.notification-page {
	position: relative!important;
	width: 100%!important;
	right: 0px!important;
	top: 20px!important;
	z-index: -65535;
	display: none;
}

.aside {
	z-index: 65535;
}

.a-bouncein {
	z-index: 4000;
	display: block;
	opacity: 1!important;
	animation: bouncein .8s linear 0s 1 alternate;
	-moz-animation: bouncein .8s linear 0s 1 alternate;
	-webkit-animation: bouncein .8s linear 0s 1 alternate;
	-o-animation: bouncein .8s linear 0s 1 alternate;
}

.a-bounceinB {
	-webkit-animation: bounceinB .8s linear 0s 1 alternate;
	-moz-animation: bounceinB .8s linear 0s 1 alternate;
	-ms-animation: bounceinB .8s linear 0s 1 alternate;
	animation: bounceinB .8s linear 0s 1 alternate;
}

.a-bounceinT {
	-webkit-animation: bounceinT 1.2s linear 0s 1 alternate;
	-moz-animation: bounceinT 1.2s linear 0s 1 alternate;
	-ms-animation: bounceinT 1.2s linear 0s 1 alternate;
	animation: bounceinT 1.2s linear 0s 1 alternate;
}

/*弹出*/
@-webkit-keyframes bouncein{
	0%{opacity:0;-webkit-transform:scale(0.3);}
	25%{opacity:1;-webkit-transform:scale(1.05);}
	50%{-webkit-transform:scale(0.9);}
	100%{-webkit-transform:scale(1);}
}
@-moz-keyframes bouncein{
	0%{opacity:0;-moz-transform:scale(0.3);}
	25%{opacity:1;-moz-transform:scale(1.05);}
	50%{-moz-transform:scale(0.9);}
	100%{-moz-transform:scale(1);}
}
@-ms-keyframes bouncein{
	0%{opacity:0;-ms-transform:scale(0.3);}
	25%{opacity:1;-ms-transform:scale(1.05);}
	50%{-ms-transform:scale(0.9);}
	100%{-ms-transform:scale(1);}
}
@keyframes bouncein{
	0%{opacity:0;transform:scale(0.3);}
	25%{opacity:1;transform:scale(1.05);}
	50%{transform:scale(0.9);}
	100%{transform:scale(1);}
}

/* 弹入-从下 */
@-webkit-keyframes bounceinB{
	0%{opacity:0;-webkit-transform:translateY(100px);}
	25%{opacity:1;-webkit-transform:translateY(-30px);}
	50%{-webkit-transform:translateY(10px);}
	100%{-webkit-transform:translateY(0);}
}
@-moz-keyframes bounceinB{
	0%{opacity:0;-moz-transform:translateY(100px);}
	25%{opacity:1;-moz-transform:translateY(-30px);}
	50%{-moz-transform:translateY(10px);}
	100%{-moz-transform:translateY(0);}
}
@-ms-keyframes bounceinB{
	0%{opacity:0;-ms-transform:translateY(100px);}
	25%{opacity:1;-ms-transform:translateY(-30px);}
	50%{-ms-transform:translateY(10px);}
	100%{-ms-transform:translateY(0);}
}
@keyframes bounceinB{
	0%{opacity:0;transform:translateY(100px);}
	25%{opacity:1;transform:translateY(-30px);}
	50%{transform:translateY(10px);}
	100%{transform:translateY(0);}
}

/* 弹入-从上 */
@-webkit-keyframes bounceinT{
	0%{opacity:0;-webkit-transform:translateY(-100px);}
	25%{opacity:1;-webkit-transform:translateY(30px);}
	50%{-webkit-transform:translateY(-10px);}
	100%{-webkit-transform:translateY(0);}
}
@-moz-keyframes bounceinT{
	0%{opacity:0;-moz-transform:translateY(-100px);}
	25%{opacity:1;-moz-transform:translateY(30px);}
	50%{-moz-transform:translateY(-10px);}
	100%{-moz-transform:translateY(0);}
}
@-ms-keyframes bounceinT{
	0%{opacity:0;-ms-transform:translateY(-100px);}
	25%{opacity:1;-ms-transform:translateY(30px);}
	50%{-ms-transform:translateY(-10px);}
	100%{-ms-transform:translateY(0);}
}
@keyframes bounceinT{
	0%{opacity:0;transform:translateY(-100px);}
	25%{opacity:1;transform:translateY(30px);}
	50%{transform:translateY(-10px);}
	100%{transform:translateY(0);}
}
